body{
	background-color:black;
	color: white;
}

#fileInputContainer{
	text-align: center;
}

h3{
	text-align: center;
}

#NamesTable, #allNamesTable{
	border: 1px solid white;
	table-layout: fixed;
	margin: 0 auto;
	float: left; 
	width: 100%;
	clear: both;
	 
}

td, th, tr, thead, tbody{
	text-align: center;
	border: 1px solid white;
}

tr:nth-child(even){
	background-color: #cd5c5c;
}

#deleteButton{
	float: right;
	top: 0;
	right: 0;
	clear: both;
		
}

#tableDiv{
	position: relative; 
	width: 50%;
	margin: 0 auto;	
}