body{
    background-color: black !important;
    color: white !important;
}

#main{
    background-color: black;
    margin: 0 auto;
    text-align: center;     
}

#wweLogo{
    width: 480px;
    height: 300px;
    
}

#about-section {
	margin: 0 auto;
	background-color: #494F55;
	border-radius: 4px;
	padding: 2px 10px;
}

.instructions-section {
	width: 80%;
    margin: 0 auto;
    background-color: #494F55;
    border-radius: 4px;
	padding: 2px 4px;
}

.instruction-table {
	vertical-align: middle !important;
	text-align: center !important;
	/* width: 80% !important; */
	margin: 2px  auto !important;	
}

.instruction-table tr {
	background-color: transparent !important;
}

img.responsive{
	width:50%;
	height:auto;
}

#namesTable{
	
	/* border: 1px solid white !important;
	table-layout:fixed !important;
	margin: 0 auto !important;
	float: left !important; 
	width: 100% !important;
	clear: both !important;	  */
}


#upload-section {
	padding-bottom:40px;
}

#table-view-content {
	padding: 4px auto;
}

#deleteDownloadButtonsPanel{
	float: right;
	top: 0;
    right: 0;	
	padding: 10px;	
}

#buttonDeleteSelectedNames{
    display: inline;
}


#tableViewContainer{
    position: relative; 
	width: 80%;
    margin: 0 auto;


}

/* tr:nth-child(even){
    background-color: #cd5c5c !important;
}

.custom-table-stripes tbody tr:nth-of-type(even){
	background-color: #cd5c5c !important;
} */

.custom-row-stripes {
	background-color: #cd5c5c !important;
}

td, th, tr, thead, tbody{
	text-align: center !important;
	border: 1px solid white !important;
}




